<div class="container">
  <div class="row">
    <div class="col-6">
      <form #myForm="ngForm" class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input
            #emailControl="ngModel"
            name="email"
            [(ngModel)]="myFormModel.email"
            [class.is-valid]="emailControl.valid"
            [class.is-invalid]="emailControl.touched && emailControl.invalid"
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}"
            type="email"
            class="form-control"
            id="inputEmail4"
          />
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input
            name="contrasena"
            [(ngModel)]="myFormModel.contrasena"
            type="password"
            class="form-control"
            id="inputPassword4"
          />
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="1234 Main St"
          />
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
    <div class="col-6">
      <pre>{{ myForm.status }}</pre>
      <pre>{{ myForm.value | json }}</pre>
    </div>
  </div>
</div>
